.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}
.title {
    color:black;
    margin: 10px 10px 10px 10px;
}
.signup {
    width: 200px;
    height: 200px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button {
    width: 100px;
    margin: 10px 10px 10px 10px;
    align-self: flex-end;
}
.username {
    max-width: 180px;
    margin: 10px 10px 10px 10px;
}
.password {
    max-width: 180px;
    margin: 10px 10px 10px 10px;
}
.alert {
    color:red;
    font-weight: bold;
}