<app-pannel></app-pannel>
<div class="layout">
  <h1 class="title">Public Games Available</h1>
  <div class="gamesContainer">
    <div *ngFor="let game of games; let i = index">
      <div class="gameElement clickable" (click)="clickGame(i)">
        <img class="gameThumbnail" src="assets/icon.png" alt="Could not find image.">
        <p class="gameTitle">{{game}}</p>
      </div>
    </div>
  </div>
  <div [ngStyle]="{ 'display': createD }" class="createGame">
    <h2 class="createTitle">Create Game</h2>
    <input class="inTitle" #title placeholder="Title" required>
    <button class="createButton clickable" (click)="createGame()">Create</button>
  </div>
</div>