.layout {
    display: grid;
    grid-template-columns: 800px 200px 300px;
    grid-template-rows: 100px 200px, 600px;
}

.createGame {
    padding: 10px 10px 10px 10px;
    background: grey;
    grid-area: 2 / 3 / span 1 / span 1;
    display: grid;
    height: 200px;
    width: 300px;
    grid-template-rows: 50px 75px 75px;
    grid-template-columns: 200px 100px;
    border-radius: 5px;
}
.createTitle {
    grid-area: 1 / 1 / span 1 / span 1;
}
.inTitle {
    grid-area: 2 / 1 / span 1 / span 1;
    margin: 10px 10px 10px 10px;
    width: 180px;
    height: 50px;
}
.createButton {
    grid-area: 3 / 2 / span 1 / span 1;
    margin: 10px 10px 10px 10px;
    height: 50px;
    width: 80px;
}
.gamesContainer {
    grid-area: 2 / 1 / span 2 / span 1;
    display: flex;
    overflow-y: scroll;
    min-height: 0px;
    max-height: 800px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 800px;
    padding: 10px 0px 10px 0px;
    background:rgb(167, 162, 162);
}

.gameElement {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 750px;
    height: 100px;
    min-height: 100px;
    margin: 10px 10px 10px 10px;
    background: slategray;
    border-radius: 10px;
}

.gameThumbnail {
    width: 50px;
    height: 50px;
    padding: 10px 40px 10px 40px;
}

.gameTitle {
    grid-area: 1 / 1 / span 1 / span 1;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.title {
    font-style: italic;
}
