<app-pannel></app-pannel>
<div class="layout">
  <h1 class="title">Public Games Available</h1>
  <div class="gamesContainer">
    <div *ngFor="let game of games; let i = index">
      <a (click)="clickGame(i)">
        <div class="gameElement">
          <img class="gameThumbnail" src="assets/sample.png" alt="Could not find image.">
          <p class="gameTitle">{{game}}</p>
        </div>
      </a>
    </div>
  </div>
  <form [ngStyle]="{ 'display': createD }" class="createGame">
    <p>Create Game</p>
    <input class="inTitle" #title placeholder="Title" required>
    <button class="createButton" (submit)="createGame($event)">Create</button>
  </form>
</div>
<a routerLink='/lobby'>Lobby Link</a>
<a routerLink='/game'>Game Link</a>
<a routerLink='/test'>Canvas Element Only (for testing)</a>