<app-pannel></app-pannel>
<div class="layout">
  <h1 class="title">Public Games Available</h1>
  <div class="gamesContainer">
    <div *ngFor="let game of games; let i = index">
      <a (click)="clickGame(i)" routerLink="/lobby">
        <div class="gameElement">
          <img class="gameThumbnail" src="assets/sample.png" alt="Could not find image.">
          <p class="gameTitle">{{game}}</p>
        </div>
      </a>
    </div>
  </div>
  <div class="createGame">
    <p>Create Game:</p>
    <input #title placeholder="Title">
    <button (click)="createGame()">Create New Game</button>
  </div>
</div>