<app-pannel></app-pannel>
<body>
    <h1>Credits</h1>
    <h2>Icons</h2>
    <ul>
        <div>Message Send Icon made by <a href="https://www.flaticon.com/authors/designerz-base" title="Designerz Base">Designerz Base</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>Favicon made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>Twitch Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </ul>
     <h2>Buttons</h2>
        <ul>
            <li>The google/facebook/twitch button styles were taken or adapted from using: <a href="https://codepen.io/wallrik/pen/obZbGJ">codepen</a></li>
         </ul>
    <h2>HTML, CSS and Javascript code</h2>
    <ul>
        <li>What would I do without <a href="http://stackoverflow.com/">Stackoverflow</a></li>
        <li>Angular documentation from <a href="https://angular.io/">Angular Docs</a> and <a href="https://www.w3schools.com/angular/angular_events.asp">W3Schools</a></li>
        <li>Angular event binding tutorial from <a href="https://lishman.io/angular-2-event-binding">Blog post</a></li>
        <li>PeerJs connection learned from <a href="http://tphangout.com/angular-2-videochat-using-peerjs/">Blog post</a></li>
        <li>Force SSL Middleware function by <a href="https://medium.com/@ryanchenkie_40935/angular-cli-deployment-host-your-angular-2-app-on-heroku-3f266f13f352"> Blog post </a></li>
        <li>Keepalive for peer connections idea from <a href="https://www.toptal.com/webrtc/taming-webrtc-with-peerjs">PeerJS Blog</a></li>
    </ul>
    <h2>NPM modules</h2>
    <ul>
        <li>Angular Color Picker from <a href="https://www.npmjs.com/package/ngx-color-picker">npmjs</a></li>
    </ul>
</body>


