.layout {
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.team {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.canvas {
    max-width: 800px;
    max-height: 800px;
    min-width: 500px;
    min-height: 500px;
    background-color: white;
}