<app-pannel></app-pannel>
<div class="layout">
  <div class="team">
    <h1>Team 1</h1>
    <canvas #canvas1 class="canvas" width="600" height="600"></canvas>
    <p>Members:</p>
    <div *ngFor="let player1 of teams[0]">
        <p class="player">{{player1}}</p>
    </div>
    <p [ngStyle]="{ 'display': resultD }">Image Comparison Results: {{result1}}</p>
  </div>
  <div class="gtimer">
    <p>{{timeText}}</p>
    <h1>{{timeVal}}</h1>
    <button class="leaveBtn clickable" [ngStyle]="{ 'display': resultD }" (click)="leave()">Leave</button>
  </div>
  <div class="team">
    <h1>Team 2</h1>
    <canvas #canvas2 class="canvas" width="600" height="600"></canvas>
    <p>Members:</p>
    <div *ngFor="let player2 of teams[1]">
      <p class="player">{{player2}}</p>
    </div>
    <p [ngStyle]="{ 'display': resultD }">Image Comparison Results: {{result2}}</p>
  </div>
</div>
