.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}
.title {
    color:black;
    margin: 10px 10px 10px 10px;
}
.signin {
    width: 200px;
    height: 200px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button {
    width: 100px;
    margin: 10px 10px 10px 10px;
    align-self: flex-end;
}
.username {
    margin: 10px 10px 10px 10px;
}
.password {
    margin: 10px 10px 10px 10px;
}
.uplink {
    color:blue;
}
.alert {
    color:red;
    font-weight: bold;
}

/** The following snippets of code for google and facebook buttons
    are taken from https://codepen.io/davidelrizzo/pen/vEYvyv **/
    body { padding: 2em; }


    /* Shared */
    .loginBtn {
      box-sizing: border-box;
      position: relative;
      /* width: 13em;  - apply for fixed size */
      margin: 0.2em;
      padding: 0 15px 0 46px;
      border: none;
      text-align: left;
      line-height: 34px;
      white-space: nowrap;
      border-radius: 0.2em;
      font-size: 16px;
      color: #FFF;
    }
    .loginBtn:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 34px;
      height: 100%;
    }
    .loginBtn:focus {
      outline: none;
    }
    .loginBtn:active {
      box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
    }
    
    
    /* Facebook */
    .loginBtn--facebook {
      background-color: #4C69BA;
      background-image: linear-gradient(#4C69BA, #3B55A0);
      /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
      text-shadow: 0 -1px 0 #354C8C;
    }
    .loginBtn--facebook:before {
      border-right: #364e92 1px solid;
      background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
    }
    .loginBtn--facebook:hover,
    .loginBtn--facebook:focus {
      background-color: #5B7BD5;
      background-image: linear-gradient(#5B7BD5, #4864B1);
    }
    
    
    /* Google */
    .loginBtn--google {
      /*font-family: "Roboto", Roboto, arial, sans-serif;*/
      background: #DD4B39;
    }
    .loginBtn--google:before {
      border-right: #BB3F30 1px solid;
      background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
    }
    .loginBtn--google:hover,
    .loginBtn--google:focus {
      background: #E74B37;
    }


    
    /** The following snippets of code for twitch login is taken from
        https://codepen.io/wallrik/pen/obZbGJ **/
     body { background-color: #000; padding-top: 20px; }

    .ui.twitch.button {
    background-color: #6441A5;
    color: #FFF;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset
    }

    .ui.twitch.button:hover {
    background-color: #3B2064
    }

    .loginBtn--twitch {
        /*font-family: "Roboto", Roboto, arial, sans-serif;*/
        background:  #6441A5;
      }
      .loginBtn--twitch:before {
        border-right: rgb(51, 22, 105) 1px solid;
        background: url('https://image.flaticon.com/icons/svg/167/167304.svg') 6px 6px no-repeat;
        background-size: 25px 30px;
    }
      .loginBtn--twitch:hover,
      .loginBtn--twitch:focus {
        background:  #3B2064
      }