<div class=layout>
    <form class="signin" (submit)="SignIn($event)">
      <h1 class="title">Sign In</h1>
      <input #user class="username" placeholder="Username">
      <input #pass class="password" type="password" placeholder="Password">
      <button class="button">Submit</button>
    </form>

  <form action="/users/oauth/google/" method="GET">
    <input type="submit" value="Login from Google">
  </form>

  <a class="uplink" routerLink='/signup'>Need an account? Sign Up here!</a>

</div>