<div class=layout>
    <form class="signin" (submit)="SignIn($event)">
      <h1 class="title">Sign In</h1>
      <input #user class="username" placeholder="Username">
      <input #pass class="password" type="password" placeholder="Password">
      <button class="button">Submit</button>
    </form> 

    <a class="uplink" routerLink='/signup'>Need an account? Sign Up here!</a>

    <form action="/users/oauth/google/" method="GET">
      <button type="submit" class="loginBtn loginBtn--google" value="Login from Google">Login from Google</button>
    </form>

    <form action="/users/oauth/facebook/" method="GET">
      <button type="submit" class="loginBtn loginBtn--facebook" value="Login from Facebook">Login from Facebook</button>
    </form>

    <form action="/users/oauth/twitch/" method="GET">
      <button type="submit"  class="loginBtn loginBtn--twitch" value="Login from Twitch">Login from Twitch</button>
    </form>
    
  <h1 class="alert">{{response}}</h1>             
</div>
