<app-pannel></app-pannel>
<h1>Lobby</h1>
<div class="layout">
  <div class="teamLeft">
    <div *ngFor="let player1 of team1" class="teamPlayer">
      <p>{{player1}}</p>
    </div>
  </div>
  <div class="hostCenter">
    <h2>Hosted by: {{host}}</h2>
    <a (click)="startGame()" class="startButton">Start</a>
    <button class="leaveButton" (click)="leave()">Leave Lobby</button>
  </div>
  <div class="teamRight">
    <div *ngFor="let player2 of team2" class="teamPlayer">
      <p>{{player2}}</p>
    </div>
  </div>
</div>


