<app-pannel></app-pannel>
<h1>{{title}}'s Lobby</h1>
<div class="layout">
  <div class="teamLeft">
    <div *ngFor="let player1 of team1;  let i1 = index" class="teamPlayer">
      <p>{{player1}}</p>
      <img src="./assets/delete.png" alt="X" class="kickImg" [ngStyle]="{ 'display': hostD }" (click)="kick(1, i1)">
    </div>
  </div>
  <div class="hostCenter">
    <h2>Hosted by: {{host}}</h2>
    <input type="file" class="picture" [ngStyle]="{ 'display': hostD }" #picture>
    <a (click)="startGame()" [ngStyle]="{ 'display': hostD }" class="startButton">Start</a>
    <button class="leaveButton" (click)="leave()">Leave Lobby</button>
    <button (click)="debug()">Debug</button>
  </div>
  <div class="teamRight">
    <div *ngFor="let player2 of team2;  let i2 = index" class="teamPlayer">
      <p>{{player2}}</p>
      <img src="./assets/delete.png" alt="X" class="kickImg" [ngStyle]="{ 'display': hostD }" (click)="kick(2, i2)">
    </div>
  </div>
</div>


