<div class="chat">
    <div class="chatTitle">Gamer's Only Chat</div>
    <div class="chatContent">
        <div class="chatMessage" *ngFor="let message of messages">{{message}}</div>
    </div>
    <textarea #textarea class="chatText" rows="1" ngModel="message"></textarea>
    <div class="chatButton" [ngStyle]="{ 'display': btnDisplay }" (click)="submitMessage()"><img src="assets/send.png" alt=""></div>
</div>
<div>
    <h1>My id: {{myPeerId}}</h1>
    <input #peer type="text" ngModel="peerId">
</div>
