<div class="layout">
  <canvas #canvas (mousemove)="mouseMove($event)" (mousedown)="mouseDown($event)" (mouseup)="mouseUp()" (mouseleave)="mouseUp()" [ngStyle]="{ 'background-color': bg }" class="canvas" width="600" height="600"></canvas>
  <div class="colors">
    <div class="color" id="customSize" [ngStyle]="{ 'background-color': color, 'width': customSS, 'height': customSS, 'border-radius': customSS }" (click)="clickSize(-1)"></div>
    <input class="sizeInput" #cSize type="number" max="60" min="5">
    <div class="color" id="large" [ngStyle]="{ 'background-color': color }" (click)="clickSize(50)"></div>
    <div class="color" id="medium" [ngStyle]="{ 'background-color': color }" (click)="clickSize(25)"></div>
    <div class="color" id="small" [ngStyle]="{ 'background-color': color }" (click)="clickSize(10)"></div>
    <div class="color" id="red" style="background-color:red;" (click)="clickColor('red')"></div>
    <div class="color" id="blue" style="background-color:blue;" (click)="clickColor('blue')"></div>
    <div class="color" id="green" style="background-color:green;" (click)="clickColor('green')"></div>
    <div class="color" id="white" style="background-color:white;" (click)="clickColor('white')"></div>
    <div class="color" id="black" style="background-color:black;" (click)="clickColor('black')"></div>
    <div class="color" #csColor [(colorPicker)]="color" (click)="clickColor('custom')" [ngStyle]="{ 'background-color': color }"></div>
    <button (click)="test()">click</button>
  </div>
</div>
<div>
  <h1>My id: {{myPeerId}}</h1>
  <input #peer type="text" ngModel="peerId">
</div>

